/* UTILS */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --main-light-color: #ffffff;
  --accent-bg-color: #F5F4FA;
  --footer-bg-color: #2F303A;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --black-color: #000000;
  --icons-color: #AFB1B8;
  --standart-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --text-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--text-font);
  background-color: var(--main-light-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media only screen and (min-width: 1200px) {
  .section-padding {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

body.modal-open {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.page-header .container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .page-header .container {
    justify-content: space-between;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .footer .container {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .burger,
  .mobile-menu__close-button {
    background-color: transparent;
    border: none;
    padding: 0;
    display: inline-block;
  }
  .burger__icon {
    display: block;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    transform: scale(0);
    background-color: #fff;
    padding-top: 6vh;
    padding-left: 7vw;
    padding-bottom: 6vh;
    overflow-y: scroll;
    transition: transform 250ms var(--standart-cubic);
  }
  .mobile-menu.is-open {
    transform: scale(1);
  }
  .mobile-menu__close-button {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .mobile-menu-nav {
    margin-bottom: 38vh;
  }
  .mobile-menu-nav__item:not(:last-child) {
    margin-bottom: 4vh;
  }
  .mobile-menu-nav__link {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
  .mobile-menu-nav__link.current {
    color: var(--accent-color);
  }
  .mobile-menu-nav__link:focus {
    color: var(--accent-color);
  }
  .mobile-menu-contacts {
    margin-bottom: 6vh;
  }
  .mobile-menu-contacts__item:not(:last-child) {
    margin-bottom: 4vh;
  }
  .mobile-menu-contacts__link {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.166;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .mobile-menu-contacts__link:focus {
    color: var(--accent-color);
  }
  .mobile-menu-contacts__phone {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.176;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-menu-social {
    display: flex;
    align-items: center;
  }
  .mobile-menu-social__item {
    display: flex;
    align-items: center;
  }
  .mobile-menu-social__item + .mobile-menu-social__item {
    margin-left: 2vw;
  }
  .mobile-menu-social__item:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
    margin-left: 2vw;
  }
  .mobile-menu-social__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.222;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

@media screen and (max-width: 375px) {
  .mobile-menu {
    padding-left: 3vw;
  }
  .mobile-menu-nav {
    margin-bottom: 30vh;
  }
  .mobile-menu-social__link {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .burger {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

.page-header--portfolio {
  border-bottom: 1px solid #ececec;
}

.logo {
  display: inline-block;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo--top {
  padding: 16px 0;
}

@media only screen and (min-width: 768px) {
  .logo--top {
    margin-right: 88px;
  }
}

@media only screen and (min-width: 1200px) {
  .logo--top {
    padding: 24px 0;
    margin-right: 93px;
  }
}

.logo .web {
  color: var(--accent-color);
}

.logo .studio {
  color: var(--black-color);
}

.logo .studio--footer {
  color: var(--main-light-color);
}

.adress .logo {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
  }
  .nav__list {
    display: flex;
  }
  .nav__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
    color: var(--title-text-color);
    transition: color 250ms var(--standart-cubic);
  }
  .nav__link:hover, .nav__link:focus {
    color: var(--accent-color);
  }
  .nav__item + .nav__item {
    margin-left: 50px;
  }
  .nav__link--current {
    position: relative;
    color: var(--accent-color);
  }
  .nav__link--current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .contacts__list {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .contacts__list {
    margin-left: auto;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contacts__icon {
    display: block;
    margin-right: 10px;
    fill: currentColor;
  }
  .contacts__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
    color: var(--primary-text-color);
    transition: color 250ms var(--standart-cubic);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: var(--accent-color);
  }
}

@media only screen and (min-width: 1200px) {
  .contacts__list {
    display: flex;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.button {
  min-width: 200px;
  padding: 10px 15px;
  display: inline-block;
  color: var(--main-light-color);
  background-color: var(--accent-color);
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: none;
}

.section__title {
  text-align: center;
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-size: 28px;
  line-height: 1.17;
  font-weight: 700;
}

.hero {
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 118px 0;
  background-color: var(--footer-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-480.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-480@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-768.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-768@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-1200.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-1200@2x.jpg");
  }
}

.hero__title {
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--main-light-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media only screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.363;
  }
}

.features__item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: var(--accent-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
}

.icon-antenna::before {
  background-image: url("../images/antenna.svg");
}

.icon-clock::before {
  background-image: url("../images/clock.svg");
}

.icon-diagram::before {
  background-image: url("../images/diagram.svg");
}

.icon-astronaut::before {
  background-image: url("../images/astronaut.svg");
}

@media screen and (max-width: 767px) {
  .features__item {
    width: 100%;
    max-width: 480px;
    margin-bottom: 30px;
  }
}

.features__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  text-align: center;
}

.features__text {
  line-height: 1.71;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .features__item {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }
}

@media only screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .features__list {
    display: flex;
  }
  .features__item {
    width: 270px;
  }
  .features__item + .features__item {
    margin-left: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .what-we-do {
    text-align: center;
    padding-bottom: 94px;
  }
  .what-we-do__list {
    display: flex;
  }
  .what-we-do__item {
    position: relative;
  }
  .what-we-do__item + .what-we-do__item {
    margin-left: 30px;
  }
  .service-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 27px 15px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .service-description__text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--main-light-color);
  }
}

.team {
  text-align: center;
  background-color: var(--accent-bg-color);
}

.team-list__item {
  max-width: 450px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.18;
}

.team-list__img {
  width: 100%;
  height: auto;
}

.member-description {
  padding: 30px 15px 24px 15px;
}

.member-description__name {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--title-text-color);
}

.member-description__role {
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .team-list__item {
    margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media only screen and (min-width: 1200px) {
  .team-list {
    display: flex;
  }
  .team-list__item {
    width: 270px;
  }
  .team-list__item + .team-list__item {
    margin-left: 30px;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__icon {
  fill: currentColor;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--icons-color);
  transition: color 250ms var(--standart-cubic), background-color 250ms var(--standart-cubic);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--main-light-color);
}

.clients {
  text-align: center;
}

.clients-list__icon {
  fill: currentColor;
}

.clients-list {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .clients-list {
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}

.clients-list__item {
  margin: 15px;
  width: calc((100% - 15px * 4) / 2);
  height: 90px;
}

@media only screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 15px * 6) / 3);
  }
}

@media only screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 15px * 12) / 6);
  }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icons-color);
  transition: color 250ms var(--standart-cubic), border-color 250ms var(--standart-cubic);
}

.clients-list__link:hover, .clients-list__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  background-color: var(--footer-bg-color);
  padding: 60px 0;
}

@media screen and (max-width: 1199px) {
  .adress,
  .join,
  .subscribe {
    text-align: center;
  }
  .adress,
  .join {
    margin-bottom: 60px;
  }
  .subscribe__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
  }
  .subscribe__input {
    margin-bottom: 20px;
  }
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__link {
  line-height: 1.71;
  color: var(--footer-text-color);
  transition: color 250ms var(--standart-cubic);
}

.adress__link--light {
  color: var(--main-light-color);
}

.adress__link:hover, .adress__link:focus {
  color: var(--accent-color);
}

.join__title,
.subscribe__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-light-color);
  margin-top: 0;
  margin-bottom: 20px;
}

.join-list {
  display: flex;
  justify-content: center;
}

.join-list__icon {
  fill: currentColor;
}

.join-list__item:not(:last-child) {
  margin-right: 10px;
}

.join-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-light-color);
  transition: color 250ms var(--standart-cubic), background-color 250ms var(--standart-cubic);
}

.join-list__link:hover, .join-list__link:focus {
  background-color: var(--accent-color);
}

.subscribe__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  color: var(--accent-bg-color);
  transition: border-color 250ms var(--standart-cubic);
}

.subscribe__input:hover, .subscribe__input:focus {
  border-color: var(--accent-color);
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe__button .subscribe__icon {
  fill: currentColor;
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}

@media only screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
  }
  .subscribe {
    margin-left: auto;
  }
  .subscribe__input {
    width: 358px;
  }
  .subscribe__form {
    display: flex;
  }
  .subscribe__button {
    margin-left: 12px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 50px 15px;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .modal {
  transform: translateY(100%);
  opacity: 0;
}

.modal {
  padding: 10px;
  width: 100%;
  position: relative;
  background-color: var(--main-light-color);
  opacity: 1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 1000ms var(--standart-cubic), opacity 1000ms var(--standart-cubic);
}

.close-icon {
  fill: currentColor;
}

.close-button {
  position: absolute;
  top: -15px;
  right: -13px;
  display: inline-flex;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--main-light-color);
  fill: currentColor;
  transition: color 250ms var(--standart-cubic);
}

.close-button:hover, .close-button:focus {
  color: var(--accent-color);
}

.modal__title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.input-box {
  position: relative;
}

.modal__input {
  display: block;
  width: 100%;
  height: 40px;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 12px 0 12px 42px;
  outline: none;
  transition: border-color 250ms var(--standart-cubic);
}

.modal__input:hover, .modal__input:focus {
  border-color: var(--accent-color);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms var(--standart-cubic);
}

.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal__textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  outline: none;
  transition: border-color 250ms var(--standart-cubic);
}

.modal__textarea:hover, .modal__textarea:focus {
  border-color: var(--accent-color);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.agreement__text {
  display: flex;
  align-items: center;
  font-size: 8px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.agreement__text::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}

.new-checkbox {
  display: inline-block;
  margin-right: 8px;
}

.agreement__link {
  display: inline-block;
  font-size: 8px;
  text-decoration: underline;
  color: var(--accent-color);
  margin-left: 3px;
}

.modal__button {
  display: block;
  margin: 0 auto;
}

.modal__button:hover, .modal__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.checkbox:focus + .agreement__text::before {
  outline: 2px solid var(--accent-color);
}

.checkbox:checked + .agreement__text::before {
  background-image: url(../images/checkbox.svg);
  background-size: contain;
  background-origin: border-box;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

@media screen and (min-width: 375px) {
  .agreement__text,
  .agreement__link {
    font-size: 10px;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    max-width: 450px;
  }
  .close-button {
    top: 8px;
    right: 8px;
  }
  .agreement__text,
  .agreement__link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
  .agreement {
    justify-content: center;
  }
  .agreement__text,
  .agreement__link {
    font-size: 14px;
  }
}

.button-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .button-list {
    flex-wrap: wrap;
    margin: -8px -4px;
    margin-bottom: 32px;
  }
  .button-list__item {
    margin: 8px 4px;
  }
  .portfolio__item {
    max-width: 450px;
  }
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .button-list {
    justify-content: center;
    margin-bottom: 50px;
  }
  .button-list__item + .button-list__item {
    margin-left: 8px;
  }
}

.portfolio__button {
  cursor: pointer;
  padding: 6px 22px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--accent-bg-color);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms var(--standart-cubic), color 250ms var(--standart-cubic), box-shadow 250ms var(--standart-cubic);
}

.portfolio__button:hover, .portfolio__button:focus {
  background-color: var(--accent-color);
  color: var(--main-light-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__item {
  background-color: var(--main-light-color);
  outline: 1px solid #eeeeee;
}

.portfolio__link {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  transition: box-shadow 250ms var(--standart-cubic);
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__description {
  padding: 20px 24px;
}

.portfolio__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio__type {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio__animation {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .overlay,
.portfolio__link:focus .overlay {
  transform: translateY(0);
}

.overlay__text {
  font-family: Roboto;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (max-width: 430px) {
  .overlay {
    padding: 25px 20px;
  }
  .overlay__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 360px) {
  .overlay {
    padding: 15px 20px;
  }
  .overlay__text {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .portfolio__item {
    margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media only screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }
}
/*# sourceMappingURL=main.css.map */