.clients {
    text-align: center;
}

.clients-list {

    @media screen and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
    }

    &__icon {
        fill: currentColor;
    }
}

@media screen and (max-width: 1199px) {
    .clients-list__item {
        margin: 15px; 
    }
}

.clients-list__item {
    width: 170px;
    height: 90px;
}

.clients-list__link {
    @include flexcenter();
    
    height: 100%;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    
    color: var(--icons-color);
    transition: color 250ms var(--standart-cubic), border-color 250ms var(--standart-cubic);

    &:hover,
    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }
}