.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 93px 15px;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .modal {
  transform: translateY(100%);
  opacity: 0;
}

.modal {
  padding: 10px;
  max-width: 450px;
  min-height: 581px;
  background-color: var(--main-light-color);
  opacity: 1;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 1000ms var(--standart-cubic),
    opacity 1000ms var(--standart-cubic);
}

.close-icon {
  fill: currentColor;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-flex;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--main-light-color);
  fill: currentColor;

  transition: color 250ms var(--standart-cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.modal__title {
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.input-box {
  position: relative;
}

.modal__input {
  display: block;
  width: 100%;
  height: 40px;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 12px 0 12px 42px;
  outline: none;

  transition: border-color 250ms var(--standart-cubic);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  fill: #212121;

  transition: fill 250ms var(--standart-cubic);

  .modal__input:hover + &,
  .modal__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal__label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal__textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  outline: none;

  transition: border-color 250ms var(--standart-cubic);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement__text {
  @include flexcenter();
  width: 100%;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  &::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
  }
}

.agreement__link {
  display: block;
  text-decoration: underline;
  color: var(--accent-color);
  margin-left: 3px;
}

.modal__button {
  display: block;
  margin: 0 auto;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.checkbox:focus + .agreement__text::before {
  outline: 2px solid var(--accent-color);
}

.checkbox:checked + .agreement__text::before {
  background-image: url(../images/checkbox.svg);
  background-size: contain;
  background-origin: border-box;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

//   @include —Åentered-xy();
