.button-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .button-list {
    flex-wrap: wrap;
    margin: -8px -4px;
    margin-bottom: 32px;
  }

  .button-list__item {
    margin: 8px 4px;
  }

  .portfolio__item {
    max-width: 450px;
  }

  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@include screen("tablet") {
  .button-list {
    justify-content: center;
    margin-bottom: 50px;
  }

  .button-list__item + .button-list__item {
    margin-left: 8px;
  }
}

.portfolio__button {
  cursor: pointer;
  padding: 6px 22px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  background-color: var(--accent-bg-color);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms var(--standart-cubic),
    color 250ms var(--standart-cubic), box-shadow 250ms var(--standart-cubic);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--main-light-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio__item {
  background-color: var(--main-light-color);
  outline: 1px solid #eeeeee;
}

.portfolio__link {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  transition: box-shadow 250ms var(--standart-cubic);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__description {
  padding: 20px 24px;
}

.portfolio__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio__type {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio__animation {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  padding: 77px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0);
  }
}

.overlay__text {
  font-family: Roboto;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (max-width: 430px) {
  .overlay {
    padding: 25px 20px;
  }

  .overlay__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 360px) {
  .overlay {
    padding: 15px 20px;
  }

  .overlay__text {
    font-size: 14px;
  }
}

@include screen("tablet") {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .portfolio__item {
    margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@include screen("desktop") {
  .portfolio__item {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }
}
