@media screen and (max-width: 767px) {
    .contacts__list {
        display: none;
    }
}

@include screen('tablet') {
    .contacts__list {
        margin-left: auto;
    }

    .contacts__item:not(:last-child) {
        margin-bottom: 10px;
    }

    .contacts__icon {
        display: block;
        margin-right: 10px;
        fill: currentColor;
    }
    
    .contacts__link {
        display: flex;
        align-items: center;
    
        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: 1.14;
        color: var(--primary-text-color);
        transition: color 250ms var(--standart-cubic);
    
        &:hover,
        &:focus {
          color: var(--accent-color);  
        }
    }
}

@include screen('desktop') {
    .contacts__list {
        display: flex;
    }
    
    .contacts__item {
        margin-bottom: 0;
    }

    .contacts__item:not(:last-child) {
        margin-right: 50px;
    }

    // .contacts__link {
    //     padding-top: 32px;
    //     padding-bottom: 32px;
    // }
}


// padding-top: 32px;
// padding-bottom: 32px;